#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: calc( ( 100vh - 40vw ) / 2);
  margin-left: 10vw;
  width: 80vw;
  height: 40vw;
}
